/* body background color */
.bg{
    background-color: #9EBABF;
}
/* Header Color */
.header-title{
    color: #df4a59;
}
/* hiding error message of no input given */
#no-input-error-message{
    display: none;
}
/* hiding error message of wrong input given */
#wrong-input-error-message{
    display: none;
}